@layer components {
    /*
    |--------------------------------------------------------------------------
    | site-header
    |--------------------------------------------------------------------------
    */
    .site-header {@apply fixed top-0 left-0 w-full z-10 bg-gray-900 shadow-lg;}
    .header-nav {@apply h-20 flex items-center justify-between;}
    .header-logo {
        width: 7rem;
        height: 4.5rem;
        background:
            url("../images/elita_logo.png")
            no-repeat
            center center / contain;
        flex-shrink: 0;
    }
}